
<!-- <form action="">

    <p>comments</p>
<textarea name="" id="" class="comment-area"></textarea>

<button class="comment-button">commnent</button>
</form> -->


<form  [formGroup]="commentForm" (ngSubmit)="onSubmit(commentForm)">
  
   
    <textarea id="comment_text" name="comment_text" placeholder="Comment:" class="comment-area" formControlName="comment_text"></textarea>

    <input type="text" id="author_id" name="author_id" placeholder="Author ID:" formControlName="author_id" type="text">
   
    <input type="text" id="blog_id" name="blog_id" placeholder="Blog ID:" formControlName="blog_id" type="text">
    <input type="submit" value="Submit" class="comment-button">
</form>


<div *ngIf="comments.length > 0">
    <h2>Comments</h2>
    <ul>
      <li *ngFor="let comment of comments">
        {{ comment.comment_text }} - {{ comment.author_id }}
      </li>
    </ul>
  </div>
  
  <button (click)="onShow()">Show Comments</button>