<div class="container mx-auto px-2 lg:px-0 xl:max-w-screen-xl lg:max-w-screen-lg md:max-w-screen-md mb-6">

  <div class="navbar bg-base-100">
    <div class="navbar-start">
      <a class="hover:scale-110 ease-in-out duration-300"
        routerLink="/dash"><img src="../../../assets/next-gen-logo.png" class="w-28 " alt="Next Gen Logo"></a>
    </div>
    <div class="navbar-center">

    </div>
    <div class="navbar-end flex place-items-center" *ngIf="isLoggedIn">

      <p class="m-0 hidden md:block">Hello {{user?.name}}</p>


      <div class="drawer-end">
        <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
        <label for="my-drawer-4"
          class="btn btn-ghost w-fit hover:bg-transparent hover:scale-110 ease-in-out duration-300">
          <div class="flex w-11 h-11">
            <img [src]="user?.profile_image" class="w-full h-full object-cover rounded-xl" />
          </div>
        </label>

        <div class="drawer-side z-50">
          <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
          <div class="bg-base-200 bg-opacity-60 backdrop-blur-xl text-base-content min-h-full p-4 pr-8 w-full md:w-1/2 lg:w-1/3 ">
            <div class="flex justify-between md:justify-end w-full mb-5">
              <label for="my-drawer-4" aria-label="close sidebar" class="btn btn-ghost place-items-center md:hidden drawer-overlay"><img src="../../../assets/right-arrow.svg" class="w-5 rotate-180" alt=""> Close</label>
              <button class="btn btn-ghost place-items-center gap-4" (click)="logout()">Sign out <img src="../../../assets/right-arrow.svg" class="w-5" alt=""></button>
            </div>
            <app-logged-in-profile></app-logged-in-profile>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



