<div class="bg-white">

    <app-def-nav></app-def-nav>

    <div class="relative isolate px-6 lg:px-8 flex flex-col pt-32 xl:pt-48">
        <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
            aria-hidden="true">
            <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#f7af7b] to-[#ef1414] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
                style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
            </div>
        </div>

        <div class="mx-auto max-w-2xl p-10 bg-white shadow rounded-xl">
            <div class="flex min-h-full flex-col justify-center ">
                <div class="sm:mx-auto sm:w-full sm:max-w-sm">
                    <h2 class=" text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Reset your
                        password</h2>
                    <p class="mt-4">
                        Please enter your new password to reset it. Make sure to choose a strong password that you haven't used before.
                    </p>
                </div>

                <div class=" sm:mx-auto sm:w-full sm:max-w-sm">
                    <form [formGroup]="resetRequestForm" (ngSubmit)="onSubmitRequest(resetRequestForm)"
                        class="space-y-6" action="#" method="POST">
                        <div>
                            <label for="password"
                                class="block text-sm font-medium leading-6 text-gray-900">Password</label>
                            <div class="mt-2 relative">
                                <input #passEnter formControlName="password" id="password" name="password"
                                    type="password" autocomplete="new-password" placeholder="Password" required
                                    class="input h-12 w-full rounded-lg shadow-md input-bordered placeholder:text-sm">

                                <label for="confirm"
                                    class="block text-sm mt-4 font-medium leading-6 text-gray-900">ConfirmPassword</label>
                                <div class="mt-2 relative">
                                    <input #passEnter formControlName="confirmPassword" id="confirmPassword"
                                        name="confirmPassword" type="password" autocomplete="new-password"
                                        placeholder="Confirm Password" required
                                        class="input h-12 w-full rounded-lg shadow-md input-bordered placeholder:text-sm">
                                
                                </div>
                            </div>



                            <div class="mt-6">
                                <button type="submit"
                                    class="flex w-full justify-center rounded-lg bg-black px-3 py-2 text-sm  leading-6 text-white shadow-sm transition-all duration-300 hover:bg-secondary ">Reset
                                    Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>