<div class="flex flex-col w-full place-items-center">
  <div class="avatar mx-auto mb-3">
    <div class="ring-primary ring-offset-base-100 w-32 rounded-full ring ring-offset-2 relative cursor-pointer"
      onclick="my_modal_2.showModal()">
      <div class="badge absolute bottom-2 left-10">Edit</div>
      <img [src]="user?.profile_image" />
    </div>
    <dialog id="my_modal_2" class="modal">
      <div class="modal-box">
        <h3 class="text-lg font-bold">Hello!</h3>
        <p class="py-4">Press ESC key or click outside to close</p>
      </div>
      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </dialog>
  </div>

  <div class="bg-white bg-opacity-50 rounded-xl p-3 mb-3">
    <h3 class="text-center">{{user?.name}} {{user?.surname}}</h3>
    <p class="text-center w-96">{{user?.short_bio}}</p>
    <div class="flex w-full justify-end">
      <div class="badge cursor-pointer">Edit</div>
    </div>
  </div>

  <div class="w-full">
    <h2 class="mb-3">Posts</h2>

    <div class="grid grid-cols-2 lg:grid-cols-4 gap-x-4 gap-y-4 mb-3">
      <div class="w-full h-24 bg-white bg-opacity-50 rounded-xl p-2"></div>
      <div class="w-full h-24 bg-white bg-opacity-50 rounded-xl p-2"></div>
      <div class="w-full h-24 bg-white bg-opacity-50 rounded-xl p-2"></div>
      <div class="w-full h-24 bg-white bg-opacity-50 rounded-xl p-2"></div>
    </div>
    <div class="flex w-full justify-end">
      <div class="badge cursor-pointer">Manage blogs</div>
    </div>
  </div>



</div>
