<div class="flex flex-col relative">
  <input [(ngModel)]="searchTerm" (input)="filterPosts()" type="text" placeholder="Search a blog"
    class="input input-bordered w-full rounded-xl h-12" />
  <ul [ngClass]='searchTerm.length
  ? "menu justify-start bg-white bg-opacity-60 absolute z-10 top-14 backdrop-blur-xl w-full rounded-box"
  :"hidden"'>
    <li *ngFor="let blog of searchResults"><a class="flex flex-col place-items-start gap-1" (click)="viewContent(blog)">
        <p class="search-title font-medium">{{blog.title}}</p>
        <p class="search-content">{{blog.content}}</p>
      </a></li>
    <li *ngIf="searchResults.length===0"><a class="flex flex-col place-items-start gap-1">
        <p class="search-title font-medium">No results found</p>

      </a></li>

  </ul>
</div>
